<div class="footer">
  <div class="footer-links">
    <%= link_to "", "https://github.com/Nijelu/The_Duck_Project", class:"fab fa-github", target: "_blank" %>
    <%= link_to "", "https://www.instagram.com/explore/tags/canard/", class:"fab fa-instagram", target: "_blank" %>
    <%= link_to "", "https://www.facebook.com/saturnin.serie/", class:"fab fa-facebook", target: "_blank" %>
    <%= link_to "", "https://twitter.com/canardenchaine", class:"fab fa-twitter", target: "_blank" %>
    <%= link_to "", "https://www.linkedin.com/company/plastic-duck-armada/", class:"fab fa-linkedin", target: "_blank" %>
  </div>
  <div class="footer-copyright">
    This footer is made by Saturnin <i class="fa fa-heart"></i>
  </div>
</div>
