<div class="message">
  <% if current_user.nil? || current_user.photo.blank? %>
    <%= image_tag "blank-avatar.png", class: "avatar-large", :gravity=>"face", :width=>70, :height=>70, :crop=>"thumb"  %>
  <% else %>
    <%= cl_image_tag current_user.photo, class: "avatar-large", :gravity=>"face", :width=>70, :height=>70, :crop=>"thumb" %>
  <% end %>
  <div class="message-name">
    <h3><%= current_user.first_name + " " + current_user.last_name %></h3>
    <p><%= Date.today %></p>
  </div>
  <br>
  <div class="message-body">
    <p><strong><%= 'weshwesh' %></strong></p>   <!-- Il faut ajouter dynamiquement l'input-objet du user -->
    <p><%= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' %></p> <!-- Il faut ajouter dynamiquement l'input-content du user -->
  </div>
</div>
