<div class="container">
  <h3> Great! You want to book "<%= @duck.title %>"</h3>

  <div class="row">
    <div class='col-sm-4'>
      <%= render 'components/card', duck: @duck %>
      <br>
      <div class='col-sm-12'>
    <%= simple_form_for [@duck, @booking], method: :post do |f| %>

        <input type="text" name="dates" id="flatp" data-disabled-dates=<%= @disabledates.to_json %>>
      <%= f.button :submit, "Book now!", class: "btn btn-primary"%>
    <% end %>
    </div>
    </div>
  </div>
</div>
