<div class="container">
  <br>
  <div class="panel panel-info" id="profile">
    <div class="panel-heading">
      <h3 class="panel-title"><div class="text-center">My profile</div></h3>
    </div>
    <div class="panel-body">
      <div class="text-center">
      <p><%= @user.first_name << ' ' << @user.last_name%></p>
      <p><%= @user.email %></p>
      <div><%= cl_image_tag(@user.photo, height: 300, width: 400, crop: :fill) unless @user.photo.blank? %></div><br>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="panel panel-info" id="profile">
    <div class="panel-heading">
      <h2 class="panel-title">
        <div class="text-center">My bookings as a tenant</div></h2>
    </div>
    <ul class="list-group">
      <% @user.bookings.each do |booking| %>
        <li class="list-group-item">
          <div class="text-center"><%= link_to booking.duck.title, booking_path(booking)  %></div></li>
      <% end %>
    </ul>
  </div>

  <div class="panel panel-info" id="profile">
    <div class="panel-heading">
      <h2 class="panel-title"><div class="text-center">My ducks and associated bookings</div></h2>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <%= link_to 'Add a duck', new_duck_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="list-group">
      <% @user.ducks.each do |duck| %>
      <div class="list-group-item text-center"><%= link_to duck.title, duck_path(duck) %> | <%= link_to 'edit', edit_duck_path(duck) %> | <%= link_to 'delete', duck_path(duck), method: :delete %>
        <br>
        <div class="panel panel-warning">
          <div class="panel-heading">Booking of <%= duck.title %>:</div>
          <% duck.bookings.each do |booking| %>
          <div class="panel-body"><%= link_to booking.duck.title, booking_path(booking) %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
