<div class="container">
  <div class="panel panel-default" id="profile">
    <div class="panel-heading">
      <h3 class="panel-title">My profile</h3>
    </div>
    <div class="panel-body">
      <p><%= @user.first_name << ' ' << @user.last_name%></p>
      <p><%= @user.email %></p>
      <%= image_tag(@user.photo) unless @user.photo.blank? %>
    </div>
  </div>

  <div class="panel panel-default" id="profile">
    <div class="panel-heading">
      <h2 class="panel-title">My bookings</h2>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% @user.bookings.each do |booking| %>
          <li><%= link_to booking.title  %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-default" id="profile">
    <div class="panel-heading">
      <h2 class="panel-title">My ducks</h2>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% @user.ducks.each do |duck| %>
          <li><%= link_to duck.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

